.git
.gitignore
.gitattributes

node_modules
vendor

.env
.env.*
!.env.example

npm-debug.log
yarn-error.log

storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/storage

.idea
.vscode
.vs
.cache

docker-compose.override.yml
compose.override.yaml
compose.override.yml
secrets.dev.yaml
values.dev.yaml
